.open-hours {
    padding: 0 10%;
    margin-bottom: 3rem;
}
.openhours-main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.openhours-textcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.open-hours-title {
    font-size: 32px;
    color: var(--black);
}
.open-hours-undertitle {
    font-size: 24px;
    color: rgba(77, 75, 75, 0.686);
    margin-top: 25px;
    position: relative;
    right: 16px;
}
.open-hours-time {
    font-size: 24px;
    color: var(--blue);
    margin-top: 10px;
}
.open-hours-img {
    width: 50%;
    height: auto;
}

.open-hours-open {
    font-size: 20px;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.openhour {
    overflow: hidden;
    padding: 10px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}
.openhour::before,
.openhour::after {
    position: absolute;
    top: 0;

    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}
.openhour::before {
    left: 0;
    background: linear-gradient(to left,rgba(255,255,255,0),white);
}
.openhour::after {
    right: 0;
    background: linear-gradient(to right,rgba(255,255,255,0),white);
}


.openhour-slide {
    white-space: nowrap;
    animation: 35s slide infinite linear;
    display: inline-block;
}




@media (max-width: 600px) {
    .open-hours-undertitle {
        font-size: 19px;
    }
    .open-hours-time {
        font-size: 19px;
    }
    .open-hours-title {
        font-size: 24px;
        color: var(--black);
    }
}
@media (max-width: 450px) {
    .openhours-main-container {
        flex-direction: column;
        padding: 2.5rem 0;
    }
}


/*RESPONSIVE OPENHOURS*/
@media (max-width: 1246px) {
    .open-hours-1245 {
        display: none;
    }
}
@media (max-width: 1150px) {
    .open-hours-1150 {
        display: none;
    }
}
@media (max-width: 1002px) {
    .open-hours-1002 {
        display: none;
    }
}
@media (max-width: 855px) {
    .open-hours-855 {
        display: none;
    }
}
@media (max-width: 706px) {
    .open-hours-706 {
        display: none;
    }
}
@media (max-width: 552px) {
    .open-hours-552 {
        display: none;
    }
}
@media (max-width: 405px) {
    .open-hours-405 {
        display: none;
    }
}
@media (max-width: 360px) {
    .open-hours-360 {
        display: none;
    }
}